{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/mactools-poc.myshopify.com/products/configure/190233/edit
{% endcomment %}
{% if product.metafields.custom_fields["price_for_government"] != blank %}
  <div class="custom-field custom-field__price-for-government custom-field__type--number">
    <h3 class="custom-field--title">Price for Government</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["price_for_government"] }}
    </div>
  </div>
{% endif %}